<!DOCTYPE html>
<html>
<head>
    <title>Apply Bus Pass</title>
</head>
<body>

<h2>Bus Pass Application</h2>

<form action="/apply" method="POST" enctype="multipart/form-data">

<label>Student Name</label><br>
<input type="text" name="name" required><br><br>

<label>College Name</label><br>
<input type="text" name="college" required><br><br>

<label>Route</label><br>
<input type="text" name="route" required><br><br>

<label>Mobile Number</label><br>
<input type="text" name="mobile" required><br><br>

<label>Upload Photo</label><br>
<input type="file" name="photo"><br><br>

<button type="submit">Submit Application</button>

</form>

</body>
</html>